<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teenyfin.teenymoney.domain.categoryPolicy.mapper.CategoryPolicyMapper">

    <resultMap id="categoryPolicyResultMap" type="com.teenyfin.teenymoney.domain.categoryPolicy.vo.CategoryPolicyVO">
        <id property="id" column="id"/>
        <result property="categoryId" column="merchant_category_id"/>
        <result property="categoryName" column="name"/>
        <result property="policy" column="policy"/>
    </resultMap>

    <select id="selectById" resultMap="categoryPolicyResultMap">
        SELECT p.id, p.merchant_category_id, c.name, p.policy
        FROM T_MCC_POLICY_M p
        JOIN T_MCC_CTGR_C c
        ON p.merchant_category_id = c.id
        WHERE p.id = #{id}
    </select>

    <select id="selectByChildId" resultMap="categoryPolicyResultMap">
        SELECT p.id, p.merchant_category_id, c.name, p.policy
        FROM T_MCC_POLICY_M p
        JOIN T_MCC_CTGR_C c
        ON p.merchant_category_id = c.id
        WHERE p.child_id = #{childId}
    </select>

    <insert id="insertDefaultPolicies">
        INSERT INTO T_MCC_POLICY_M
        (parent_id, child_id, merchant_category_id, policy, created_at)
        SELECT
        #{parentId}, #{childId}, c.id, c.default_policy, NOW()
        FROM T_MCC_CTGR_C c
    </insert>

    <update id="updateAllPolicies">
        UPDATE T_MCC_POLICY_M
        SET policy = CASE id
        <foreach collection="categoryPolicyList" item="p">
            WHEN #{p.id} THEN #{p.policy}
        </foreach>
        END,
        updated_at = NOW()
        WHERE parent_id = #{parentId}
        AND child_id = #{childId}
        AND id IN
        <foreach collection="categoryPolicyList" item="p" open="(" separator="," close=")">
            #{p.id}
        </foreach>
    </update>

    <select id="selectCategoryIdByMerchantCode" resultType="java.lang.Long">
        SELECT c.id
        FROM T_MCC_CODE_C m
        JOIN T_MCC_CTGR_C c
        ON m.merchant_category_id = c.id
        WHERE m.id = #{merchantCode}
    </select>

    <select id="selectByCategoryIdAndChildId" resultMap="categoryPolicyResultMap">
        SELECT p.id, p.merchant_category_id, c.name, p.policy
        FROM T_MCC_POLICY_M p
        JOIN T_MCC_CTGR_C c
        ON p.merchant_category_id = c.id
        WHERE p.merchant_category_id = #{categoryId} AND p.child_id = #{childId}
    </select>

    <select id="selectCategoryNameById" resultType="java.lang.String">
        SELECT name
        FROM T_MCC_CTGR_C
        WHERE id = #{categoryId}
    </select>

</mapper>